.photo-container__like-button {
  padding: 0;
  margin: auto 0 auto auto;
  border: none;
  width: 22px;
  height: 19px;
  background-color: #fff;
  cursor: pointer;
  background-image: url(../../../images/like/like.svg);
  cursor: pointer;
}

.photo-container__like-button {
  opacity: .6;
}