.profile {
  margin-bottom: 45px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

@media screen and (max-width: 660px) {
  .profile {
    flex-direction: column;
    height: 286px;
    column-gap: 0;
  }
}
