.popup__title {
  margin: 0;
  margin-bottom: 54px;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  height: 23px;
}

@media screen and (max-width: 660px) {
  .popup__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}
